html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  color: #525252;
}

a {
  text-decoration: none;
  color: #cb3837;
}

.container {
  text-align: center;
}
.container2 {
  padding-left: 60px;
}
.title {
  color: #8987DF;
}

#queryTx {
  margin-left: auto;
  margin-right: auto;
  width:550px;
  text-align: left;
}
#queryBal {
  margin-left: auto;
  margin-right: auto;
  width:550px;
  text-align: left;
}
#queryBlk {
  margin-left: auto;
  margin-right: auto;
  width:550px;
  text-align: left;
}
